body {
    background: #27acff;
    font-family: 'Inconsolata', monospace;
}

.terminal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#terminal {
    border: 3px gray solid;
    border-top: 20px gray solid;
    width: 1200px;
    height: 800px;
    background: black;
    color: white;
    padding: 5px;
}

pre {
    margin: 0;
}

#prompt {
}

#history {
    max-height: 775px;
    overflow-y: auto;
    overflow-x: hidden;
}